.warp_top{
  display: flex;
  overflow: hidden;
  padding: 4px;
  border: 1px solid #000;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  .unit_data{
    float: left;
    .tit_basic{
      display: inline-block;
      min-width: 40px;
    }
    .inp_basic{

    }
  }
}