@charset "utf-8";

/* *//************** reset **************//* */
* {
    font-family: 'NanumSquareOTFB';
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    word-break: keep-all;
    -webkit-overflow-scrolling: touch;
}

@font-face {
	font-family: 'NanumSquareOTFB';
	font-style: normal;
	font-weight: 300;
	src:url('../library/font/NanumSquareLight.ttf') format('truetype');
}
@font-face {
	font-family: 'NanumSquareOTFB';
	font-style: normal;
	font-weight: 600;
	src:url('../library/font/NanumSquareExtraBold.ttf') format('truetype');
}
@font-face {
	font-family: 'NanumSquareOTFB';
	font-style: normal;
	font-weight: 500;
	src:url('../library/font/NanumSquareBold.ttf') format('truetype');
}
@font-face {
	font-family: 'NanumSquareOTFB';
	font-style: normal;
	font-weight: 600;
	src:url('../library/font/NanumSquareExtraBold.ttf') format('truetype');
}
@font-face {
	font-family: 'LexendDeca';
	font-style: normal;
	font-weight: 400;
	src:url('../library/font/LexendDeca-Regular.ttf') format('truetype');
}
/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button{margin:0;padding:0;}
fieldset,img{border:0 none}
dl,ul,ol,menu,li{list-style:none}
ul,li {list-style:none;padding:0;margin:0;}
blockquote, q{quotes:none}
blockquote:before, blockquote:after,q:before, q:after{content:'';content:none}
input,select,textarea,button{vertical-align:middle}
input::-ms-clear{display:none}
button{border:0 none;background-color:transparent;cursor:pointer}
button, button:hover, a:hover ,a{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}
body{background:#fff;text-rendering: optimizeLegibility; -webkit-font-smoothing: subpixel-antialiased; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;}
body,th,td,input,select,textarea,button{font-size:14px;line-height:1.5;font-family:'Spoqa Han Sans';color:#222;letter-spacing: -0.2px}
a{color:#222;text-decoration:none;cursor: pointer;}
a:active, a:hover{text-decoration:none}
/* a:active{background-color:transparent} */
h1,h2,h3,h4,h5,h6 {font-weight:400;padding:0;margin:0;}
address,caption,cite,code,dfn,em,var{font-style:normal;font-weight:normal}
*,
*:after,
*:before {
    -webkit-box-sizing:border-box;-o-box-sizing:border-box;box-sizing:border-box;
    -webkit-tap-highlight-color:rgba(0,0,0,0) !important;
    outline: none;
}

#root{min-width:320px;}
table {border-spacing:0;width:100%;}
th,td {font-weight:400;text-align:left;padding:0;margin:0;}
/* global */
.ir_pm{display:block;overflow:hidden;font-size:0px;line-height:0;text-indent:-9999px}
.ir_wa{display:block;overflow:hidden;position:relative;z-index:-1;width:100%;height:100%}
.screen_out{overflow:hidden;position:absolute;width:0;height:0;line-height:0;text-indent:-9999px}
.clear:after{clear:both; content:''; display:block;}
.hide{display: none !important}
.show{display: block !important}


table {
	width: 100%;
	border: 1px solid #444444;
	border-collapse: collapse;
}
th, td {
	border: 1px solid #444444;
}


